@import '../../asset/scss/colors.scss';
@import '../../asset/scss/layout.scss';
@import '../../asset/scss/globals.scss';
@import '../../asset/scss/breakpoints.scss';

.header {
  background-color: $element-color;
  box-shadow: 0 0 8px $shadow-color;

  &-container {
    @include centered-container(91.5%);

    @include breakpoint(large) {
      padding: 1.5em 0;
    }

    padding: 1.92em 0;
    max-width: 1280px;

    h1 {
      font-size: 0.85rem;
      letter-spacing: 0.2px;
      
      @include breakpoint(medium) {
        font-size: 1rem;
      }
      
      @include breakpoint(large) {
        font-size: 1.475rem; 
      }
    }
  }

}