@import '../../asset/scss/colors.scss';
@import '../../asset/scss/breakpoints.scss';

.country {
  overflow: hidden;
  border-radius: 8px;
  background-color: $element-color;
  box-shadow: 0 0 12px $shadow-color;

  img {
    width: 100%;
    height: 35vw;
    min-height: 10em;
    object-fit: cover;

    @include breakpoint(medium) {
      height: 17.5vw;
    }

    @include breakpoint(large) {
        height: 10em;
    }
  }
}
